@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<JobPortal.Models.JobModel>

<div class="text-center">
    <h1 class="display-4">Welcome To Jobs Portal</h1>
    <br />
    <form method="post" action="/Home/SearchJob">
        <div class="d-flex">
        <input  class="form-control" type="text" placeholder="search jobs" name="job-search" />
        <button type="submit" class="btn btn-outline-secondary">Search</button>
        </div>
    </form>

   
</div>
